:root {
    --accent: #2196f3;
    --main-text: #757575;
    --headings: #212121;
    --background:#FFFFFF;
    --text: #2F303A;
    --nav:#ECECEC;
    --second-text:#F5F4FA;
    --second-background:#000000;
  }
  